# Maven
# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- task: Maven@3
  inputs:
    mavenPomFile: 'pom.xml'
    mavenOptions: '-Xmx3072m'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '1.8'
    jdkArchitectureOption: 'x64'
    publishJUnitResults: true
    testResultsFiles: '**/surefire-reports/TEST-*.xml'
    goals: 'package'
# Prepare Analysis Configuration task
- task: SonarCloudPrepare@1
  inputs:
    SonarCloud: 'sonarcloud.io-Sagar'
    organization: 'grsisandbox'
    scannerMode: 'Other'
    #extraProperties: 'sonar.projectKey=pipelines-java'

# Run Code Analysis
- task: SonarCloudAnalyze@1
# Publish Quality Gate Result task
- task: SonarCloudPublish@1
  inputs:
    pollingTimeoutSec: '300'
